
# Selenium Test Report
        Date: 6/1/2026, 9:58:31 am

## Admin Login Test
            - ** Status **: FAILED
                - ** Error **: no such element: Unable to locate element: {"method":"xpath","selector":"//button[contains(text(), 'Create New Event')]"}
  (Session info: chrome=143.0.7499.170)
        